
.navbar {
  background-color: #94618e!important;
}

#title-section {
  background-color: #f4decb;
  padding-top: 12em;
  padding-bottom: 8em;
}

.jumbotron {
  padding-top: 7em;
  padding-bottom: 7em;
}

.col {
  text-align: center;
}

.col-6 {
  text-align: center;
}

#title_name {
  font-family: 'Sacramento', cursive;
}

#body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #f8eee7;
}

#div_skills {
  margin-bottom: 5em;

}

#div_contacts {
  background-color: #49274a;
  font-size: 12px;
  color: #f8eee7;
}

.custom_title {
  padding-top: 2em;
  padding-bottom: 2em;
}

.row {
  margin-bottom: -1em;
}

.nav-link {
  color: #f8eee7;
}
