.navbar {
  background-color: #9494ff!important;
}

#title-section {
  background-color: #f9fae9;
}

.jumbotron {
  padding-top: 7em;
  padding-bottom: 7em;
}

.col {
  text-align: center;
}

.col-6 {
  text-align: center;
}
